/* Navigation styles */
/* Navigation styles */
/* .logo {
    background: white;
    height: 200px;
    background-image: url("../images/jakes-logo.png");
    background-repeat: no-repeat;
    background-position: left; */
  /* } */
  
  *{ 
    margin: 0; 
    padding: 0; 
  } 

  .navigation {
    display: flex;
    background-color: black;
    padding: 10px;
    justify-content: space-between; 
    color: white;
    border-color: black;
    margin-right: 0px;

  }
  
  .heroimage { 
    display: flex;
    margin: 40px; 
    margin-right: 0px;
    justify-content: center;  
    align-items: center;
    width: 100%; 
  }  

  .heroimage div { 
    display: flex;
    align-items: center; 
    flex-direction: column;
  }

  .UXpeople { 
    display: flex; 
    margin: 40px; 
    margin-right: 0px;
  }

  .UXTitle  {
    margin: 40px;
     margin-right: 0px;
  } 

  .UXTitle p { 
       width:50%; 
  } 

  .uxskills h1 { 
    display: flex;
    justify-content: center;
    border: black;
    border-color: black;
    border-width: 3px;
  }

  .UXproj {
  justify-content: center;
  margin-right: 0px;
  }

  #uxskills

  #UXproj
  
  .UXproj{
    display: flex;
    justify-content: center;
  }

  .projects{
    display: flex;
    justify-content: center;
  } 

  .projects2 {
    display: flex; 
    justify-content: space-evenly; 
    width: 100%; 
    margin: 25px;
    margin-right: 0px;

  }

  .proj{
    display: flex;
    width: 100%;
    border:5px solid black;
  } 

  .proj img{
    width: 400px;
    height: 400px;
  }

  .proj h2 { 
    width:fit-content; 
    display: flex;
  }

  ul { 
    list-style: none;  
    display: flex;
  } 

  ul li { 
    display: flex; 
    margin: 20px;
    margin-right: 0px;

  }

h2 {
    font-size: 32px;
    font-weight: 100;
  }
  
  h3 {
    font-size: 32px;
    font-weight: 300;
    font-size: 22px;
  }
  
  h4 {
    font-size: 32px;
    color: rgb(7, 7, 7);
    font-weight: 100;
    font-size: 22px;
  } 

  @media Only screen and (max-width: 500px) {
     .projects2{ 
       flex-direction: column;
     } 

  }
/* Column styles */

/* Footer Styles */
